@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    /* color: rgba(255, 255, 255, 0.87); */

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Dark mode */
input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer !important;
}

/* Dark mode */
.dark input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1) brightness(200%) !important;
    cursor: pointer !important;
}

.loader {
    border-radius: 0.2rem;
    width: 45px;
    aspect-ratio: 1;
    --c: no-repeat linear-gradient(rgb(56 189 248) 0 0); /* Using your primary color directly */
    background: var(--c) 0 0, var(--c) 0 100%, var(--c) 50% 50%, var(--c) 100% 0,
        var(--c) 100% 100%;
    animation: l13 1s infinite alternate;
}

@keyframes l13 {
    0%,
    10% {
        background-size: 20% 100%;
    }
    50% {
        background-size: 20% 20%;
    }
    90%,
    100% {
        background-size: 100% 20%;
    }
}
